.block {
    display: block;
}
.block.children > * {
    display: block;
}

.fullheight {
    height: 100%;
}
.fullwidth {
    width: 100%;
}
.fullsize {
    @extend .fullheight, .fullwidth;
}

.halfheight {
    height: 50%;
}
.halfwidth {
    width: 50%;
}
.halfsize {
    @extend .halfheight, .halfwidth;
}

.qtrheight {
    height: 25%
}
.qtrwidth {
    width: 25%
}
.qtrsize {
    @extend .qtrsize, .qtrwidth;
}