@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "Master";
}

<form asp-controller="account" asp-action="login" 
    asp-route-returnurl="@ViewData["ReturnUrl"]"
    class="fullsize bg-primary center columns" method="post">

    <div class="fullwidth center rows">
        <input type="email" class="quarterwidth" name="Email" placeholder="Email" />
    </div>
    <div class="fullwidth center rows">
        <input type="password" class="quarterwidth" name="Password" placeholder="Password" />
    </div>
    <div class="fullwidth center rows">
        <label for="Remember Me" class="fg-light">Remember Me</label>
        <input type="checkbox" name="RememberMe" value="true" />
    </div>

    <div class="padding height"></div>

    <button type="submit" class="button bg-dark fg-light quarterwidth">Login</button>
</form>