<!DOCTYPE html>
<html>
    <head>
        <title>Calend.Ar</title>
    </head>
    <body>
        <input type="hidden" name="@ViewData["AntiForgeryTokenName"]" value="@ViewData["AntiForgeryTokenValue"]" />
        
        <script src="http://static.calend.ar/jspm_packages/system.js"></script>
        <script src="http://static.calend.ar/system-config.js"></script>

        <script>System.import("lib/bootstrap");</script>
    </body>
</html>