<!DOCTYPE html>
<html>
    <head>
        <title>Calend.Ar</title>
    </head>
    <body aurelia-app="lib/bootstrap" data-antiforgery-name="@ViewData["AntiForgeryTokenName"]" data-antiforgery-value="@ViewData["AntiForgeryTokenValue"]">
    
        <script src="http://static.calend.ar/jspm_packages/system.js"></script>
        <script src="http://static.calend.ar/system-config.js"></script>

        <script>
            System.import("aurelia-bootstrapper");
        </script>
    </body>
</html>