<!DOCTYPE html>
<html class="fullheight">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans">
        <link rel="stylesheet" href="http://static.calend.ar/styles/site.css">
    </head>
    <body class="fullheight">
        <div class="fullsize">
            @RenderBody()
        </div>
    </body>
</html>